* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
}

.field {
  margin: 10px 20px;
  text-align: center;
}

.form {
  margin-left: 20px;
}

input {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  width: 175px;
}

label {
  display: block;
  /* font-size: 18px; */
  font-weight: 400;
  /* color: #999; */
}

#datetime-picker {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  width: 218px;
}

button {
  padding: 5px 20px;
  margin-top: 10px;
  font-size: 18px;
}

[data-start] {
  padding: 10px 20px;
  font-size: 20px;
}

[data-stop] {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 400;
}

.value {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: rgb(49, 49, 49);
}

.label {
  font-size: 18px;
  font-weight: 400;
  color: rgb(88, 88, 88);
  text-transform: uppercase;
}
